<div class="jumbotron jumboSections">
    <div class="form-group form-inline searchWrap"> <!-- start searchBar --> <div>
        <%= form_tag spotify_search_path, method: 'get' do %>
        <%= text_field_tag 'search_query', 
                      params[:search_query], 
                      :class => "form-control input-lg searchBox",
                      :placeholder => 'Find a song and Spotify ME' %> 
    </div>
    <div>      
          <%= button_tag(type: "submit", class: "btn btn-primary btn-lg searchButton") do %>
            Search <i class="fa fa-sign-out" style="margin-left: 10px;"></i>
          <% end %>        
        <% end %> 
    </div>
</div>
     <!-- end searchBar -->
</div>

<div class="row center-block songRankings">
  <!--<#% @playlist.current_week.each do |song|%> -->
  <h2>Top songs</h2>
  <h4>(current_week)</h4>
  <h2 class="panel panel-default oneSpot"><%= first_song.title %> : 
                                          <%= first_song.artist %> </h2>
    <% 9.times do |x| %>                                     
  <div class="row center-block songRankings">
    <ul class="list-group">
        <li class="list-group-item"><%= song_list %> : 
                                    <%= artist_list %></li>
    </ul>
  </div>
    <% end %>
  </div>
</div>


<div class="jumbotron jumboSections">
  
</div>