<%= render partial: "shared/flash_messages", flash: flash %> 

<div class="jumbotron jumboSections">
    <div class="form-group form-inline searchWrap"> <!-- start searchBar --> <div>
        <%= form_tag spotify_search_path, method: 'get' do %>
        <%= text_field_tag 'search_query', 
                      params[:search_query], 
                      :class => "form-control input-lg searchBox",
                      :placeholder => 'Find a song and Spotify ME' %> 
    </div>
    <div>      
          <%= button_tag(type: "submit", class: "btn btn-primary btn-lg searchButton") do %>
            Search <i class="fa fa-sign-out" style="margin-left: 10px;"></i>
          <% end %>        
        <% end %> 
    </div>
</div>
     <!-- end searchBar -->
  <% spotify_link = 'https://accounts.spotify.com/authorize?' +
       { client_id: ENV['SPOTIFY_CLIENT_ID'],
         response_type: 'code',
         redirect_uri: 'localhost:3000/spotify_oauth', 
         scope: 'playlist-modify-public playlist-modify-private user-follow-modify'}.to_query %>
  <%= link_to "spotify", spotify_link %>
</div>




<div class="row center-block songRankings">
  <!--<#% @playlist.current_week.each do |song|%> -->
  <h2>Top songs</h2>
  <h4>(current_week)</h4>


  <div class="col-xs-12 center-block">
    <% song_list.each do |x|%>
    <ul class="list-group">
      <h4 class="panel panel-default oneSpot"> 
        <%= x.title %> by <%= x.artist %> 
        

      </h4>
    </ul>
    <% end %>
  </div>
</div>


<div class="jumbotron jumboSections">
  
</div>