<h2 style='margin-top: 150px;'>songs</h2>

<h4>search results for <span>"<%= @query %>"</span></h4>

  <ul>
  <% @search_results.each do |song| %>
    <li>
    
        <h3><span style="color:#169d82">song:</span> <%= song.name %>,
            <span style="color:#169d82">artist:</span> <%= song.artists.first.name %>,
        <!-- images_urls: <#%= song.images %>, -->
        <span style="color:#169d82">spotify popularity</span> <%= song.popularity %></h3>

      <div class="submitSong">
        <%= form_tag suggestion_path(current_user, pick: song.id), 
                                      method: 'post' %>
        <%= submit_tag 'suggest song', :class => "btn btn-primary btn-lg" %>
      </div>
    </li>
    <% end %>
  </ul>



  <h5><%= @count %> total tracks <%= @query %></h5>